.hidden {
    display: none;
}

.fade-in-out {
    animation: fadeInOut 2s;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

#thumb-robo {
    position: fixed; /* Position the image relative to the viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure it appears over everything */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}